@charset "utf-8";
* {margin: 0px;padding: 0px;}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #FF913B;
    background-image: linear-gradient(transparent 20%, rgba(150, 17, 17, .8) 80%), linear-gradient(30deg, #CC742F 12%, transparent 12.5%, transparent 87%, #CC742F 87.5%, #CC742F), linear-gradient(150deg, #CC742F 12%, transparent 12.5%, transparent 87%, #CC742F 87.5%, #CC742F), linear-gradient(30deg, #CC742F 12%, transparent 12.5%, transparent 87%, #CC742F 87.5%, #CC742F), linear-gradient(150deg, #CC742F 12%, transparent 12.5%, transparent 87%, #CC742F 87.5%, #CC742F), linear-gradient(60deg, #FFA762 25%, transparent 25.5%, transparent 75%, #FFA762 75%, #FFA762), 
linear-gradient(60deg, #FFA762 25%, transparent 25.5%, transparent 75%, #FFA762 75%, #FFA762);
    background-size: 100% 100%, 80px 140px, 80px 140px, 80px 140px, 80px 140px, 80px 140px, 80px 140px;
    background-position: 0 0, 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
.cabeca{
    width: 100px;
    height: 120px;
    background-color: #A58155;
    background-image: linear-gradient(90deg, #000 6%, transparent 6%, transparent 94%, #000 94%);
    background-size: 100% 30px;
    background-repeat: no-repeat;
    position: fixed;
    left: 20px;
    top: 120px;
    border-bottom-left-radius: 40% 45%;
    border-bottom-right-radius: 40% 45%;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    z-index: 15;
}
.cabecaSombra{
    width: 100px;
    height: 120px;
    background-color: transparent;
    background-image: linear-gradient(155deg, transparent 50%, rgba(0, 0, 0, .4) 80%);
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    left: 20px;
    top: 120px;
    border-bottom-left-radius: 40% 45%;
    border-bottom-right-radius: 40% 45%;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    z-index: 19;
}
.buraco{
    width: 100px;
    height: 30px;
    background-color: #CEA780;
    background-image: linear-gradient(155deg, rgba(0, 0, 0, 1) 30%, transparent 70%), radial-gradient(#000 55%, transparent 40%);
    background-size: 100%, 120% 100%;
    background-position: center;
    position: fixed;
    left: 20px;
    top: 105px;
    border-bottom-left-radius: 100% 100%;
    border-bottom-right-radius: 100% 100%;
    border-top-left-radius: 100% 100%;
    border-top-right-radius: 100% 100%;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    z-index: 20;
}
.cabeca_topo{
    width: 100px;
    height: 60px;
    background-color: #A58155;
    background-image: radial-gradient(#A58155 55%, transparent 40%), radial-gradient(#A58155 55%, transparent 40%), linear-gradient(#000 100%, transparent 2%);
    background-position: 50% -40%, 48% 495%, 50%;
    background-size: 98% 150%, 115% 90%, 105%;
    background-repeat: no-repeat;
    position: fixed;
    left: 20px;
    top: 77px;
    border-top-left-radius: 40% 70%;
    border-top-right-radius: 40% 70%;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    border-bottom-width: 0px;
    z-index: 21;
    -o-animation: abrirCabeca 5s ease 1.5s 1 alternate;
    -moz-animation: abrirCabeca 5s ease 1.5s 1 alternate;
    -webkit-animation: abrirCabeca 5s ease 1.5s 1 alternate;
    animation: abrirCabeca 5s ease 1.5s 1 alternate;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
-o-@keyframes abrirCabeca {
    0% {
        transform: translate(0, 0) rotateZ(0deg);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-width: 0px;
    }
    20% {
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
        border-bottom-width: 1px;
    }
    100% {
        transform: translate(-15px, -27px) rotateZ(-25deg);
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
        border-bottom-width: 2px;
    }
}
-moz-@keyframes abrirCabeca {
    0% {
        transform: translate(0, 0) rotateZ(0deg);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-width: 0px;
    }
    20% {
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
        border-bottom-width: 1px;
    }
    100% {
        transform: translate(-15px, -27px) rotateZ(-25deg);
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
        border-bottom-width: 2px;
    }
}
-webkit-@keyframes abrirCabeca {
    0% {
        transform: translate(0, 0) rotateZ(0deg);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-width: 0px;
    }
    20% {
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
        border-bottom-width: 1px;
    }
    100% {
        transform: translate(-15px, -27px) rotateZ(-25deg);
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
        border-bottom-width: 2px;
    }
}
@keyframes abrirCabeca {
    0% {
        transform: translate(0, 0) rotateZ(0deg);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-width: 0px;
    }
    20% {
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
        border-bottom-width: 1px;
    }
    100% {
        transform: translate(-15px, -27px) rotateZ(-25deg);
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
        border-bottom-width: 2px;
    }
}
.oculos{
    width: 100px;
    height: 35px;
    background-color: transparent;
    background-image: radial-gradient(#A58155 70%, transparent 40%), radial-gradient(#4B4345 70%, transparent 40%), linear-gradient(90deg, transparent 5%, #CEA780 5%, #CEA780 45%, transparent 45%, transparent 55%, #CEA780 55%, #CEA780 95%, transparent 95%), radial-gradient(#4B4345 70%, transparent 40%);
    background-size: 110% 105%, 110% 105%, 100%, 110% 105%;
    background-position: 50% -27px, 50% -24px, 50%, 50% -21px;
    background-repeat: no-repeat;
    position: fixed;
    left: 21.2px;
    top: 150px;
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
    z-index: 18;
}
.olho{
    width: 25px;
    height: 15px;
    background-color: #fff;
    background-image: radial-gradient(#fff 70%, transparent 5%), radial-gradient(#fff 70%, transparent 5%), radial-gradient(#000 70%, transparent 5%);
    background-size: 2px 2px, 4px 4px, 8px 8px;
    background-position: 8px 7px, 8px 1.5px, 8px 2.5px;
    background-repeat: no-repeat;
    position: fixed;
    top: 165px;
    border-bottom-left-radius: 50% 90%;
    border-bottom-right-radius: 50% 90%;
    border-top-left-radius: 10% 10%;
    border-top-right-radius: 10% 10%;
    z-index: 20;
    -o-animation: olhar 5s ease 1.5s 1 alternate, piscar 3s ease 10s infinite;
    -moz-animation: olhar 5s ease 1.5s 1 alternate, piscar 3s ease 10s infinite;
    -webkit-animation: olhar 5s ease 1.5s 1 alternate, piscar 3s ease 10s infinite;
    animation: olhar 5s ease 1.5s 1 alternate, piscar 3s ease 10s infinite;
}
-o-@keyframes olhar {
    0% {
        background-position: 8px 2.5px;
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    20% {
        background-position: 8px -2.5px;
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    95% {
        background-position: 8px -2.5px;
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    100% {
        background-color: #000;
        transform: scale(1, .1) translate(0, 5px);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
-moz-@keyframes olhar {
    0% {
        background-position: 8px 2.5px;
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    20% {
        background-position: 8px -2.5px;
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    95% {
        background-position: 8px -2.5px;
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    100% {
        background-color: #000;
        transform: scale(1, .1) translate(0, 5px);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
-webkit-@keyframes olhar {
    0% {
        background-position: 8px 2.5px;
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    20% {
        background-position: 8px -2.5px;
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    95% {
        background-position: 8px -2.5px;
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    100% {
        background-color: #000;
        transform: scale(1, .1) translate(0, 5px);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
@keyframes olhar {
    0% {
        background-position: 8px 2.5px;
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    20% {
        background-position: 8px -2.5px;
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    95% {
        background-position: 8px -2.5px;
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    100% {
        background-color: #000;
        transform: scale(1, .1) translate(0, 5px);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
-o-@keyframes piscar {
    0%{
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    5%{
        background-color: #000;
        transform: scale(1, .1) translate(0, 5px);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    10%{
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    100%{
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
}
-moz-@keyframes piscar {
    0%{
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    5%{
        background-color: #000;
        transform: scale(1, .1) translate(0, 5px);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    10%{
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    100%{
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
}
-webkit-@keyframes piscar {
    0%{
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    5%{
        background-color: #000;
        transform: scale(1, .1) translate(0, 5px);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    10%{
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    100%{
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
}
@keyframes piscar {
    0%{
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    5%{
        background-color: #000;
        transform: scale(1, .1) translate(0, 5px);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    10%{
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
    100%{
        background-color: #fff;
        transform: scale(1, 1) translate(0, 0);
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
        border-top-left-radius: 10% 10%;
        border-top-right-radius: 10% 10%;
    }
}
.esquerdo{
    left: 83px;
    transform: rotateZ(3deg);
}
.direito{
    left: 33px;
    transform: rotateZ(-3deg);
}
.boca{
    width: 40px;
    height: 2px;
    background-color: #000;
    position: fixed;
    left: 51px;
    top: 215px;
    z-index: 15;
    -o-animation: mexerBoca 5s ease 1.5s 1 alternate;
    -moz-animation: mexerBoca 5s ease 1.5s 1 alternate;
    -webkit-animation: mexerBoca 5s ease 1.5s 1 alternate;
    animation: mexerBoca 5s ease 1.5s 1 alternate;
}
-o-@keyframes mexerBoca {
    0% {
        width: 40px;
        height: 2px;
        border-radius: 0;
        transform: translate(0, 0);
    }
    20% {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translate(18px, -5px);
    }
    90% {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translate(18px, -5px);
    }
    100% {
        width: 40px;
        height: 2px;
        border-radius: 0;
        transform: translate(0, 0);
    }
}
-moz-@keyframes mexerBoca {
    0% {
        width: 40px;
        height: 2px;
        border-radius: 0;
        transform: translate(0, 0);
    }
    20% {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translate(18px, -5px);
    }
    90% {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translate(18px, -5px);
    }
    100% {
        width: 40px;
        height: 2px;
        border-radius: 0;
        transform: translate(0, 0);
    }
}
-webkit-@keyframes mexerBoca {
    0% {
        width: 40px;
        height: 2px;
        border-radius: 0;
        transform: translate(0, 0);
    }
    20% {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translate(18px, -5px);
    }
    90% {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translate(18px, -5px);
    }
    100% {
        width: 40px;
        height: 2px;
        border-radius: 0;
        transform: translate(0, 0);
    }
}
@keyframes mexerBoca {
    0% {
        width: 40px;
        height: 2px;
        border-radius: 0;
        transform: translate(0, 0);
    }
    20% {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translate(18px, -5px);
    }
    90% {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translate(18px, -5px);
    }
    100% {
        width: 40px;
        height: 2px;
        border-radius: 0;
        transform: translate(0, 0);
    }
}
.orelha{
    width: 120px;
    height: 40px;
    background-color: #846544;
    background-image: linear-gradient(90deg, transparent 50%, rgba(0, 0, 0, .4) 50%), radial-gradient(#846544 67%, #523F2A 67%, #523F2A 70%, transparent 70%), radial-gradient(circle at 50%  500%, #846544 68%, #523F2A 68%, #523F2A 70%, transparent 70%);
    background-size: 100%, 93% 70%, 136% 20%;
    background-position: 50%, 50%, 50% 5.5px;
    background-repeat: no-repeat;
    position: fixed;
    left: 10px;
    top: 155px;
    border-bottom-left-radius: 10% 70%;
    border-bottom-right-radius: 10% 70%;
    border-top-left-radius: 10% 30%;
    border-top-right-radius: 10% 30%;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    z-index: 14;
}
.sobrancelha{
    width: 35px;
    height: 5px;
    background-color: #000;
    position: fixed;
    top: 150px;
    z-index: 19;
    -o-animation: levantarSobrancelha 5s ease 1.5s 1 alternate;
    -moz-animation: levantarSobrancelha 5s ease 1.5s 1 alternate;
    -webkit-animation: levantarSobrancelha 5s ease 1.5s 1 alternate;
    animation: levantarSobrancelha 5s ease 1.5s 1 alternate;
}
-o-@keyframes levantarSobrancelha {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(0, -5px);
    }
    90% {
        transform: translate(0, -5px);
    }
    100% {
        transform: translate(0, 0);
    }
}
-moz-@keyframes levantarSobrancelha {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(0, -5px);
    }
    90% {
        transform: translate(0, -5px);
    }
    100% {
        transform: translate(0, 0);
    }
}
-webkit-@keyframes levantarSobrancelha {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(0, -5px);
    }
    90% {
        transform: translate(0, -5px);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes levantarSobrancelha {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(0, -5px);
    }
    90% {
        transform: translate(0, -5px);
    }
    100% {
        transform: translate(0, 0);
    }
}
.esquerda{
    left: 76px;
    border-bottom-left-radius: 10% 50%;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10% 50%;
    border-top-right-radius: 90% 100%;
    transform: rotateZ(-5deg);
}
.direita{
    left: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10% 50%;
    border-top-left-radius: 90% 100%;
    border-top-right-radius: 10% 50%;
    transform: rotateZ(5deg);
}
.nariz{
    width: 40px;
    height: 25px;
    background-color: transparent;
    background-image: radial-gradient(#000 70%, transparent 40%), radial-gradient(#A58155 70%, transparent 40%), radial-gradient(#846544 70%, transparent 40%), radial-gradient(#A58155 70%, transparent 40%), radial-gradient(#846544 70%, transparent 40%);
    background-size: 7% 10%, 70% 70%, 70% 70%, 85% 30%, 100% 30%;
    background-position: 1px 7px, 50% -0.5px, 50% 2px, 50% 5px, 50% 6px;
    background-repeat: no-repeat;
    position: fixed;
    left: 51px;
    top: 182px;
    z-index: 15;
}
.pescoco{
    width: 30px;
    height: 15px;
    background-color: #423222;
    position: fixed;
    left: 55px;
    top: 235px;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    border-color: #000;
    border-style: solid;
    border-width: 4px;
    z-index: 14;
}
.camisa{
    width: 50px;
    height: 60px;
    background-color: #fff;
    background-image: radial-gradient(#fff 40%, transparent 10%), radial-gradient(#fff 40%, transparent 10%), linear-gradient(165deg, rgba(0, 0, 0, 1) 5%, transparent 50%), radial-gradient(#990000 40%, transparent 10%), linear-gradient(90deg, #990000 15%, transparent 15%, transparent 25%, #990000 25%, #990000 45%, transparent 45%, transparent 55%, #990000 55%, #990000 75%, transparent 75%, transparent 85%, #990000 85%);
    background-size: 35% 35%, 35% 35%, 100%, 100%, 40% 50%;
    background-position: 30% 55%, 70% 55%, 50%, 50%, 50% 90%;
    background-repeat: no-repeat;
    position: fixed;
    left: 46px;
    top: 235px;
    border-top-left-radius: 25% 20%;
    border-top-right-radius: 25% 20%;
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    box-shadow: #000 0 3px 0 0;
    z-index: 13;
}
.camisaManga{
    width: 72px;
    height: 30px;
    background-color: #000;
    position: fixed;
    left: 35px;
    top: 240px;
    border-top-left-radius: 25% 70%;
    border-top-right-radius: 25% 70%;
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
    z-index: 12;
}
.calca{
    width: 50px;
    height: 20px;
    background-color: #294345;
    background-image: linear-gradient(rgba(0, 0, 0, .7) 10%, transparent 80%), linear-gradient(transparent 92%, #000 92%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%, 60% 100%;
    position: fixed;
    left: 46px;
    top: 290px;
    border-color: #000;
    border-style: solid;
    border-width: 2px 2px 0 2px;
    z-index: 12;
}
.perna{
    width: 20px;
    height: 30px;
    background-color: #294345;
    position: fixed;
    top: 310px;
    border-color: #000;
    border-style: solid;
    border-width: 0 2px 0 2px;
    z-index: 1;
}
.esq{
    left: 46px;
}
.dir{
    left: 76px;
    background-image: linear-gradient(105deg, rgba(0, 0, 0, .7) 0%, transparent 50%);
}
.pe{
    width: 30px;
    height: 12px;
    background-color: #A58155;
    background-image: linear-gradient(transparent 70%, #61503B 30%), linear-gradient(90deg, transparent 60%, #433829 60%, #433829 75%, transparent 75%);
    position: fixed;
    top: 330px;
    border-top-right-radius: 30% 50%;
    border-top-left-radius: 60% 80%;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    z-index: 13;
}
.sqrd{
    left: 39px;
}
.drt{
    left: 73px;
    transform: rotateY(180deg);
}
.bracos{
    width: 65px;
    height: 30px;
    background-color: #A58155;
    background-image: linear-gradient(transparent 80%, #000 80%), linear-gradient(90deg, transparent 50%, #423222 50%);
    position: fixed;
    left: 37.5px;
    top: 260px;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    z-index: 10;
}
.maos{
    width: 70px;
    height: 15px;
    background-color: #A58155;
    background-image: linear-gradient(90deg, transparent 50%, #423222 50%);
    position: fixed;
    left: 35px;
    top: 290px;
    border-top-left-radius: 6% 40%;
    border-top-right-radius: 6% 40%;
    border-bottom-left-radius: 20% 60%;
    border-bottom-right-radius: 20% 60%;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    z-index: 10;
}
#avatar{
    -o-filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, .7));
    -moz-filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, .7));
    -webkit-filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, .7));
    filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, .7));
}
.box{
    width: 0px;
    height: 0px;
    background-color: #fff;
    position: fixed;
    left: 70px;
    top: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #000;
    z-index: 21;
    -o-animation: abrirBox 1.5s ease 3.5s 1 alternate;
    -moz-animation: abrirBox 1.5s ease 3.5s 1 alternate;
    -webkit-animation: abrirBox 1.5s ease 3.5s 1 alternate;
    animation: abrirBox 1.5s ease 3.5s 1 alternate;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
-o-@keyframes abrirBox {
    0% {
        width: 10px;
        height: 10px;
        left: 70px;
        top: 120px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px #000;
    }
    5% {
        width: 10px;
        height: 10px;
        left: 70px;
        top: 120px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px #000;
    }
    100% {
        width: calc(100vw - 175px);
        height: calc(100vh - 50px);
        left: 150px;
        top: 25px;
        border-radius: 0px;
        box-shadow: 10px 15px 10px 0px rgba(0, 0, 0, .5);
    }
}
-moz-@keyframes abrirBox {
    0% {
        width: 10px;
        height: 10px;
        left: 70px;
        top: 120px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px #000;
    }
    5% {
        width: 10px;
        height: 10px;
        left: 70px;
        top: 120px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px #000;
    }
    100% {
        width: calc(100vw - 175px);
        height: calc(100vh - 50px);
        left: 150px;
        top: 25px;
        border-radius: 0px;
        box-shadow: 10px 15px 10px 0px rgba(0, 0, 0, .5);
    }
}
-webkit-@keyframes abrirBox {
    0% {
        width: 10px;
        height: 10px;
        left: 70px;
        top: 120px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px #000;
    }
    5% {
        width: 10px;
        height: 10px;
        left: 70px;
        top: 120px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px #000;
    }
    100% {
        width: calc(100vw - 175px);
        height: calc(100vh - 50px);
        left: 150px;
        top: 25px;
        border-radius: 0px;
        box-shadow: 10px 15px 10px 0px rgba(0, 0, 0, .5);
    }
}
@keyframes abrirBox {
    0% {
        width: 10px;
        height: 10px;
        left: 70px;
        top: 120px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px #000;
    }
    5% {
        width: 10px;
        height: 10px;
        left: 70px;
        top: 120px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px #000;
    }
    100% {
        width: calc(100vw - 175px);
        height: calc(100vh - 50px);
        left: 150px;
        top: 25px;
        border-radius: 0px;
        box-shadow: 10px 15px 10px 0px rgba(0, 0, 0, .5);
    }
}
.content{
    width: calc(100vw - 175px);
    height: calc(100vh - 50px);
    background-color: #fff;
    position: fixed;
    left: 150px;
    top: 25px;
    z-index: 22;
    opacity: 0;
    -o-animation: mostrarContent .5s ease 5s 1 alternate;
    -moz-animation: mostrarContent .5s ease 5s 1 alternate;
    -webkit-animation: mostrarContent .5s ease 5s 1 alternate;
    animation: mostrarContent .5s ease 5s 1 alternate;
    animation-fill-mode: forwards;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, .5);
}
-o-@keyframes mostrarContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
-moz-@keyframes mostrarContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
-webkit-@keyframes mostrarContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
@keyframes mostrarContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
@font-face{
    font-family: 'sketchy';
    src: url('../fontes/AckiPreschool.woff') format('woff'),
        url('../fontes/AckiPreschool.woff2') format('woff2'),
        url('../fontes/AckiPreschool.ttf') format('truetype');
}
.title{
    width: 100%;
    height: 90px;
    background-color: #39404A;
    background-image: linear-gradient(360deg, transparent 0% ,rgba(0, 0, 0, .7) 100%), linear-gradient(45deg, #24282F 12%, transparent 0, transparent 88%, #24282F 0), linear-gradient(135deg, transparent 37%, #2D333B 0, #2D333B 63%, transparent 0), linear-gradient(45deg, transparent 37%, #24282F 0, #24282F 63%, transparent 0);
    background-size: 100% 100%, 20px 20px, 20px 20px, 20px 20px;
    color: #fff;
    font-size: 50px;
    font-family: sketchy;
    padding-left: 25px;
    padding-top: 15px;
    cursor: default;
}
.slide{
    width: 100%;
    height: calc(100% - 180px);
    background-color: #fff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    display: inline-block;
}
@font-face{
    font-family: 'boris';
    src: url('../fontes/DK Boris Brush.ttf') format('truetype');
}
.previous{
    width: 20%;
    height: 100%;
    background-color: transparent;
    background-size: auto 150%;
    background-position: center;
    float: left;
    font-family: boris;
    color: #fff;
    line-height: 400px;
    text-align: center;
    text-shadow: 0px 0px 5px #000;
    font-size: 45px;
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
    cursor: pointer;
    transition: 1s;
    -o-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.previous:hover{
    background-size: auto 170%;
}
.drawings{
    width: 60%;
    height: 100%;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    overflow: hidden;
}
.draw{
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.next{
    width: 20%;
    height: 100%;
    background-color: transparent;
    background-size: auto 150%;
    background-position: center;
    float: left;
    font-family: boris;
    color: #fff;
    line-height: 400px;
    text-align: center;
    text-shadow: 0px 0px 5px #000;
    font-size: 45px;
    border-top-left-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;
    cursor: pointer;
    transition: 1s;
    -o-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.next:hover{
    background-size: auto 170%;
}
@font-face{
    font-family: 'arsenale';
    src: url('../fontes/cheddar jack.ttf') format('truetype');
}
.sobre{
    width: 80%;
    height: auto;
    font-size: 72px;
    background: -webkit-linear-gradient(270deg, #ff0066, #ffff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-family: arsenale;
    font-size: 3em;
    line-height: 1em;
    position: relative;
    padding: 30px;
    left: 10%;
    top: 100px;
    margin-bottom: 110px;
    cursor: default;
}
.sobre:after{
    width: 100%;
    height: 60px;
    content: "Quem djabos sou eu?";
    background-color: #3A3F49;
    background-image: linear-gradient(90deg, #9C27B0 0%, #913BFF 20%, transparent 60%);
    -webkit-text-fill-color: #fff;
    color: #fff;
    font-size: 50px;
    font-family: sketchy;
    line-height: 60px;
    position: absolute;
    left: 0;
    top: -45px;
    padding-left: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.sobre:before{
    width: 100%;
    height: 100%;
    content: " ";
    background-color: #3A3F49;
    -webkit-text-fill-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    z-index: -500;
}
.content::-webkit-scrollbar{
    width: 1em;
}
.content::-webkit-scrollbar-track{
    background-color: #FF3B47;
}
.content::-webkit-scrollbar-track-piece:decrement{
    background-color: #913BFF;
}
.content::-webkit-scrollbar-track-piece:increment{
    background-color: #FF3B47;
}
.content::-webkit-scrollbar-thumb{
    background-color: #913BFF;
}
